/*  your css code here. If applicable */
.box {
	height: 100px;
	width: 100;
	background-color:red;
	transform: scale(1);
	animation: pulse 1s ease-in-out infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		
	}

	70% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.95);
	
	}
}
}